 .logo{
    width: 70%;
}

.headerbackground{
    background-color: #f8f9ff;
}

.download{
    background-color: #0e0a47;
    border-radius: -10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.EDOZZIER{
    background-color: #d0d8fc;
    border-radius: 5px;
    width: 220px;
    margin-top: 160px;
}

.Smart{
    color: #1b1642;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 50px;
}


.Management{
    font-size: 50px;
    font-weight: bolder;
    color: #1b1642;
}

.Software{
    font-size: 18px;
}


.Request :hover{
    background-color: #babfdc;
    color: white;
}


.Demo{
   background-color: #1b1642;
   color: white;
}


.Demo:hover{
   background-color: rgb(217, 217, 23);
}


.heade{
    width: 10000vh;
}


.was{
    color: #0e0a47;
    font-weight: bold;
}


.built{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rome{
    margin-top: 100px;
    color: #0e0a47;
}

.have{
    color: #959c9c;
}


.learn{
    color: #0e0a47;
    font-weight: bold;
}

.learn :hover{
    color: #2e17dc;
} 


